.input{
    height: 2rem;
    width: 300px;
    border: 2px ridge rgba(180, 177, 177, 0.8);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #2d2c31;
    transition: 0.3s ease;
}

.searchBtn{
    height: 2rem;
    width: 100px;
    border: 2px ridge rgba(180, 177, 177, 0.8);
    border-radius: 5px;
    color: #2d2c31;
    outline: none;
    background-color: transparent;
    transition: 0.3s ease;
}

.searchBtn:hover,
input:hover, 
input:active {
    background-color: #2d2c31;
    border: 2px ridge #ffffff;
    color:#ffffff 
}